@tailwind base;
@tailwind components;
@tailwind utilities; 
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
body {
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.font-sora {
  font-family: 'Sora', sans-serif;
} 

.bg-primary{
  background-color: #34AFFB;
}

.bg-secondary{
  background-color: #37FB34;
}

.bg-sub{
  background-color: #DE34FB;
}

.txt-primary{
  color: #34AFFB;
}

.txt-secondary{
  color: #37FB34;
}

.txt-sub{
  color: #DE34FB;
}