bin/
obj/
out/
project.lock.json
project.fragment.lock.json
*.pidb
*.svclog
*.user
*.suo
*.userosscache
*.sln.docstates
 
*.dll
*.exe
*.app
*.log
*.vspscc
*.vssscc
 
.vs/
.vscode/
*.dbmdl
*.pdb
 
appsettings.Development.json
appsettings.*.json
secrets.json
 
_ReSharper*/
*.[Rr]e[Ss]harper
 
.idea/
 
*.nupkg
.nuget/
packages/
*.snupkg
 
*.log
TestResults/
publish/
wwwroot/lib/
 
Migrations/
 
.fake